<link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 

<div class="container">




<link rel="stylesheet" href="/css/add_voter.css"/>

<br><br>
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Register New User</h4><br>



	<p class="divider-text">
    </p>
    
	<form>
 
         <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		</div>
    	<input name="" class="form-control" id="name" placeholder="Name" type="text" required>
    </div> <!-- form-group// -->

     <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-eye" ></i> </span>
		</div>
    	<input name="" class="form-control" id="password" placeholder="Password" type="password" required>
    </div> <!-- form-group// -->

	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="" id="credit" class="form-control" placeholder="Credit Score" type="text" required>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-calendar-check-o"></i> </span>
		 </div>
        <select id="verified">
         <option value="">Select</option>
         <option value="1">Verified</option>
         <option value="0">Not Verified</option>
        </select>     
        </div> <!-- form-group// -->

   
   
   
    
                                      
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" id="register"> Register User  </button>
    </div> <!-- form-group// -->      
    <p class="text-center">Have already registered? <a href="/users/view_voter">View User</a> </p>                                                                 
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->

<br><br>

 <script type="text/javascript" src="/js/web3.js"></script>
<script type="text/javascript" src="/js/connection.js"></script>
           