</br>
    </br>
    <center><h2>Certificate Validation</h2></center>
    <table class="table">
      <tr>
        <th>
    <b>Enter Certificate Hash</b></th>
    <td><input type="text" name="chash" id="chash"></td></tr>
    {{!-- <tr><th><b>Certificate Hash</b></th> --}}
    {{!-- <td><a id="url" name="url" href="https://ipfs.io/ipfs/{{hash}}">{{hash}}</a></td></tr> --}}
    <tr><th></th><th><input id="con_cer" type="button" onclick="openWin()" value="Verify Certificate"></th></tr>
    </table>
    </br>
    </br>

<script>
function openWin() {
    var chash=document.getElementById("chash").value;
  window.open("https://ipfs.io/ipfs/"+chash);
}
</script>

{{!-- <script type="text/javascript" src="/js/admin_dash.js"></script> --}}
 <script type="text/javascript" src="/js/web3.js"></script>
<script type="text/javascript" src="/js/connection.js"></script>
