<h1>Hello    {{user}}</h1>


                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12 gutter">

                            <div class="sales">
                                <h2 id="head1"> Admin Dashboard</h2>
                                <br>

                               
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 gutter">

                            <div class="sales report">
                               Banking

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
