 </br>
    </br>
    <center><h2>Certificate Generation</h2></center>
    <table class="table">
      {{!-- <tr>
        <th>
    <b>Student Publickey</b></th>
    <td><input type="text" name="pkey" id="pkey"></td></tr>
    <tr><th><b>Certificate Hash</b></th>
    <td><a id="url" name="url" href="https://ipfs.io/ipfs/{{hash}}">{{hash}}</a></td></tr> --}}
    {{!-- <tr><th></th><th><input id="con_cer" type="button" onclick="generate_certificate()" value="Generate Certificate"></th></tr> --}}
    </table>
    </br>
    </br>
    <form method="POST" enctype="multipart/form-data" action="/file_upload">
    <table class="table">
      <tr>
        <td></td>
                <td></td>
        <td >
                <input class="form-control"  type="file" name="filename">
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
                <td></td>
        <td>
              <input class="form-control"  type="submit" value="upload">
        </td>
      </tr>
      <tr>
        <td>
                  <td></td>
        <td></td>
        </td>
      </tr>
    </table>
    </form>



     <script type="text/javascript" src="/js/web3.js"></script>
<script type="text/javascript" src="/js/connection.js"></script>