<link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="/css/view_voter.css"/>

<!------ Include the above in your HEAD tag ---------->
<br><br><br>
<div class="container">
    
      <div class="row">
         <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		</div>
    	<input name="" class="form-control" id="id" placeholder="user ID" type="text" value="{{user}}" readonly>
    </div> <!-- form-group// -->
          
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
 

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" id="check_profile" > Check your profile </button>
    </div> <!-- form-group// -->      
  
<br>
          <div class="panel panel-info" id="my_div" style="display:none" >
            <div class="panel-heading">
              <h3 class="panel-title" id="name"></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                
              
                <div class=" col-md-9 col-lg-9 "> 
                   
                  <table class="table table-user-information">
                    <thead>
                      <tr>
                        <td>Name</td>
                        <td>Credit Score</td>
                        <td>Balance</td>
                        <td>Verified</td>
                        <td>Asset</td>
                      </tr>
                    </thead>
                    <tbody id="profile">

                    </tbody>
                  </table>
                  
          
          </div>
        </div>
      </div>
    </div>

     <script type="text/javascript" src="/js/web3.js"></script>
<script type="text/javascript" src="/js/connection.js"></script>