<link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 

<div class="container">




<link rel="stylesheet" href="/css/add_voter.css"/>

<br><br>
<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Request Fund</h4><br>

  


	<p class="divider-text">
    </p>
    
	<form>
 
         <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		</div>
    	<input name="" class="form-control" id="id" placeholder="user ID" type="text" value="{{user}}" readonly>
    </div> <!-- form-group// -->

	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="" id="amount" class="form-control" placeholder="Amount Required" type="text" required>
    </div> <!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="" id="d_date" class="form-control" placeholder="Due Date" type="date" required>
    </div> <!-- form-group// -->

   
   
   
    
                                      
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" id="request_fund" > Request Fund  </button>
    </div> <!-- form-group// -->      
        <button type="submit" class="btn btn-primary btn-block" id="all_request_fund" > View Fund Requests  </button>
</form>
</article>

{{!-- Display all fund requests --}}
          <div class="panel panel-info" id="my_div" style="display:none">
            <div class="panel-heading">
              <h3 class="panel-title" id="name"></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
					<h4>All Requested Fund Details</h4>
                   
                  <table class="table">
                    <thead>
                      <tr>
                        <td>Id</td>
						<td>Amount</td>
						<td>Due Date</td>
						<td>Start Date</td>
						<td>Invest Count</td>
						<td>Collected</td>
						<td>Status</td>
                      </tr>
                    </thead>
					<tbody id="data_body">

					</tbody>
                  </table>
                  
          
          </div>

<br><br>

 <script type="text/javascript" src="/js/web3.js"></script>
<script type="text/javascript" src="/js/connection.js"></script>
           