
    {{!-- <script src="https://wzrd.in/standalone/buffer"></script>
    <script src="https://unpkg.com/ipfs-api@9.0.0/dist/index.js"
    integrity="sha384-5bXRcW9kyxxnSMbOoHzraqa7Z0PQWIao+cgeg327zit1hz5LZCEbIMx/LWKPReuB"
    crossorigin="anonymous"></script> --}}
	{{!-- <script src="./node_modules/web3/dist/web3.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> --}}
    {{!-- <link rel="stylesheet" href="style1.css"> --}}

        
        
        
  
    </br>
    </br>
    <center><h2>Certificate Confirmation</h2></center>
    <table class="table">
      <tr>
        <th>
    <b>Student Publickey</b></th>
    <td><input type="text" name="pkey" id="pkey"></td></tr>
    <tr><th><b>Certificate Hash</b></th>
    <td><a id="url" name="url" href="https://ipfs.io/ipfs/{{hash}}">{{hash}}</a></td></tr>
    <tr><th></th><th><input id="con_cer" type="button" onclick="confirm_certificate()" value="Confirm Certificate"></th></tr>
    </table>
    </br>
    </br>
    
 
<script type="text/javascript" src="/js/web3.js"></script>
<script type="text/javascript" src="/js/connection.js"></script>
