<link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="/css/view_voter.css"/>

<!------ Include the above in your HEAD tag ---------->
<br><br><br>
<div class="container">
    
      <div class="row">
         <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		</div>
    	<input name="" class="form-control" id="id" placeholder="user ID" type="text" value="{{user}}" readonly>
    </div> <!-- form-group// -->
          
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
 
  <br><br>
  

          <div class="panel panel-info" id="my_div" style="display:none">
            <div class="panel-heading">
              <h3 class="panel-title" id="name"></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                   
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Email:</td>
                        <td id="email"></td>
                      </tr>
                      <tr>
                        <td>Gender:</td>
                        <td id="gender"></td>
                      </tr>
                      <tr>
                        <td>Country</td>
                        <td id="count"></td>
                      </tr>
                      <tr>
                        <td>Voted</td>
                        <td id="voted"></td>
                      </tr>

                   
                        
                     
                    </tbody>
                  </table>
                  
          
          </div>
        </div>
      </div>
    </div>

     <script type="text/javascript" src="/js/web3.js"></script>
<script type="text/javascript" src="/js/connection.js"></script>