<link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="/css/admin_dash.css"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html"><img src="http://jskrishna.com/work/merkury/images/logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="http://jskrishna.com/work/merkury/images/circle-logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li class="active"><a href="/users/dashboard"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        <li><a href="/users/add_user"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Add new User</span></a></li>
                         <li><a href="/users/user_verification"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Request Verification</span></a></li>
                        <li><a href="/users/request_fund"><i class="fa fa-btc" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Request Fund</span></a></li>
                        <li><a href="/users/invest_fund"><i class="fa fa-btc" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Invest Fund</span></a></li>
                        <li><a href="/users/add_cert"><i class="fa fa-money" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Add Assets</span></a></li>
                        <li><a href="/users/verify_cert"><i class="fa fa-money" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Verify Assets</span></a></li>

                        {{!-- <li><a href="/users/publish_result"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm"> Publish Result</span></a></li> --}}
                        <li><a href="/users/profile"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Profile</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                   
                                            <li>
                                    <li class="dropdown">
                                        <a href="/logout">{{user}}[Logout]</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                               
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="user-dashboard">
                    {{{body}}}
    </div>



    <!-- Modal -->
    <div id="add_project" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body">
                            <input type="text" placeholder="Project Title" name="name">
                            <input type="text" placeholder="Post of Post" name="mail">
                            <input type="text" placeholder="Author" name="passsword">
                            <textarea placeholder="Desicrption"></textarea>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="add-project" data-dismiss="modal">Save</button>
                </div>
            </div>

        </div>
    </div>

</body>
    <script type="text/javascript" src="/js/admin_dash.js"></script>
