<!DOCTYPE html>
<html>
<head>
        <title>LoginApp</title>
        <link rel="stylesheet" href="/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <script src='/js/jquery-3.3.1.min.js'></script>
</head>
<body>
    <!--<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">-->
      {{!-- <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> --}}

      {{!-- <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {{!-- <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/users/register">Register</a>
          </li> --}}
          <li class="nav-item active">
            {{!-- <h2 class="nav-link " style="padding-left:450px" >Certificate Validation System</h2> --}}
            {{!-- <a class="nav-link " href="/users/login">Login</a> --}}
          </li>
          {{!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> --}}
        </ul>
        {{!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> --}}
      </div>
    </nav> 

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
     
        <div class="container">
       {{{body}}}

      </div> <!-- /containCompanyer -->

    </main>

    <footer class="footer-copyright text-center py-3" >
      <p>&copy; Rellonet</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    {{!-- <script src="/js/popper.min.js"></script> --}}
    {{!-- <script src="/js/bootstrap.min.js"></script> --}}
</body>
</html>