<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="/css/voting.css"/>
<br><br>
<h2>Welcome {{user}}</h2>
<input type="hidden" id="user_id" name="user_id" value="{{user}}"/>
<h2  class="float-right"><a href="\logout">Logout</a></h2>
<div class="col-md-6" style="background:white;margin-left:280px;">
<div class="col-md-12">

    <div class="funkyradio" id="cert_list"></div>
        
    </br>
    </br>
    <br><br>
    <center><h2>Awarded Certificates</h2></center>
    <table class="table">
      <tr>
        <th>
    <h4><b>Student Publickey</b></h4></th>
    <td id="pubkey"></td></tr>
    <tr ><td></td><th><h3>Certificate Hashs</h3></th></tr></table>
    <table class="table">
    {{!-- <form method="post" action="http://127.0.0.1:3000/qrcode" target="_blank"> --}}
    <tr><th>1</th>
        <td><h5><a id="url" name="url"></a></h5></td>
        <td>
            <input type="button" onclick="getqr()"  value="QRCode"/>
        </td></tr>
    {{!-- <tr><th></th><th><input id="con_cer" type="button" onclick="confirm_certificate()" value="Confirm Certificate"></th></tr> --}}
    </table>
    </br>
    </br>
        {{!-- <div class="funkyradio-success">
            <input type="radio" name="radio" id="radio3" />
            <label for="radio3">Third Option success</label>
        </div>
        <div class="funkyradio-success">
            <input type="radio" name="radio" id="radio4" />
            <label for="radio4">Fourth Option danger</label>
        </div>
        <div class="funkyradio-success">
            <input type="radio" name="radio" id="radio5" />
            <label for="radio5">Fifth Option warning</label>
        </div>
        <div class="funkyradio-success">
            <input type="radio" name="radio" id="radio6" />
            <label for="radio6">Sixth Option info</label>
        </div> --}}
    </div>
</div>
<div class="col-md-6">
</div>
</div>


{{!-- <script type="text/javascript" src="/js/admin_dash.js"></script> --}}
 <script type="text/javascript" src="/js/web3.js"></script>
<script type="text/javascript" src="/js/connection.js"></script>
<script>
    function getqr(){
    var link=document.getElementById("url").getAttribute("href");
    console.log("mylink "+link);
	window.location.href="/qrcode?data="+link;

    }
</script>
